<%- include("../views/templates/header") -%>

    <link rel="stylesheet" href="styles/home.css">

    <div class="home">
        <h1>Oxlac Hostel Management System</h1>
    </div>

    <div class="row home-container">
        <h3>Your Ultimate Hostel Management System</h3>
        <div class="col-lg-4 col-sm-12 btn">
            
            <a href="/student/auth"><button><i class="fas fa-user-graduate fa-2x"></i><br>Student Portal</button></a>
        </div>
        <div class="col-lg-4 col-sm-12 btn">
            <a href=""><button><i class="fas fa-hotel fa-2x"></i><br>Warden Portal</button></a>
        </div>
        <div class="col-lg-4 col-sm-12 btn">
            <a href=""><button><i class="fas fa-chalkboard-teacher fa-2x"></i><br>Faculty Portal</button></a>
        </div>
    </div>







    <script src="../javascripts/home.js"></script>
    <%- include("../views/templates/footer") -%>

