<%- include("../../views/templates/header") -%>

<link rel="stylesheet" href="/styles/warden/wardComplaint.css" />

<h1>Complaints</h1>
<div class="container">
<div class="card"> 
    <h4>Student Name: </h4>
    <h4>Registration Number:</h4>
    <h5>Room No: </h5>
    <h5>Complaint Type:</h5>
    <h5>Complaint Date:</h5>
    <h5>Complaint Description:</h5>
    <h5>Complaint Severity:</h5>
    <br><br>
    <button class="button button1">Resolved</button>
    <br>
    <button class="button button2">Pending</button>

</div>
</div>


<%- include("../../views/templates/footer") -%>