<%- include("../../views/templates/header") -%>

<link rel="stylesheet" href="/styles/warden/wardLeave.css" />

<h1>Leave Requests</h1>
<div class="container">
<div class="card"> 
    <h4>Student Name: </h4>
    <h4>Registration Number:</h4>
    <h5>Room No: </h5>
    <h5>Leave Type:</h5>
    <h5>Leave Date:</h5>
    <h5>Leave Time:</h5>
    <h5>Leave Duration:</h5>
    <h5>Block: </h5>
    <h5>Mess Type: </h5>
    <br><br>
    <button class="button button1">Approve</button>
    <br>
    <button class="button button2">Reject</button>

</div>
</div>


<%- include("../../views/templates/footer") -%>