<%- include("../../views/templates/header") -%>

<link rel="stylesheet" href="/styles/warden/wardRoom.css" />

<h1>Assign Room </h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Unassigned Students</h3>
          <br><br>
            <input type="radio" id="stu1" name="stu" value="Student1">
            <label for="stu1" >Student1</label><br>    
            <input type="radio" id="stu2" name="stu" value="Student2">
            <label for="stu2">Student2</label><br> 
            <input type="radio" id="stu3" name="stu" value="Student3">
            <label for="stu3">Student3</label><br> 
            <input type="radio" id="stu4" name="stu" value="Student4">
            <label for="stu">Student4</label><br> 
            <input type="radio" id="stu5" name="stu" value="Student5">
            <label for="stu">Student5</label><br>  
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Unassigned Rooms</h3>
          <br><br>
            <input type="radio" id="room1" name="room" value="Room1">
            <label for="room">Room1</label><br>
            <input type="radio" id="room2" name="room" value="Room2">
            <label for="stu">Room2</label><br> 
            <input type="radio" id="room3" name="room" value="Room3">
            <label for="stu">Room3</label><br> 
            <input type="radio" id="room4" name="room" value="Room4">
            <label for="stu">Room4</label><br> 
            <input type="radio" id="room5" name="room" value="Room5">
            <label for="stu">Room5</label><br> 
 
        </div>
      </div>
    </div>
    </div>
    <div class="btn">
    <a>Assign</a>
   </div>
<%- include("../../views/templates/footer") -%>