<%- include("../../views/templates/header") -%>

<link rel="stylesheet" href="/styles/warden/wardMess.css" />

<h1>Mess Allocation</h1>
<div class="container">
<div class="card"> 
    <h4>Student Name: </h4>
    <h4>Registration Number:</h4>
    <h5>Room No: </h5>
    <h5>Block:</h5>
    <h5>Mess type:</h5>
    <br><br>
    <button class="button button1">Approve</button>

</div>
</div>



<%- include("../../views/templates/footer") -%>