<%- include("../../views/templates/header") -%>

<link rel="stylesheet" href="/styles/warden/wardCreate.css" />

<h1>Create Room</h1>
<div class="container">
    <form action="/action_page.php">
    <div class="row">
      <div class="col-15">
        <label for="eventname">Room Number</label>
      </div>
      <div class="col-75">
        <input type="text"  name="namee" placeholder="Number">
      </div>
    </div>
    <div class="row">
        <div class="col-15">
          <label for="eventname">Room Capacity</label>
        </div>
        <div class="col-75">
          <input type="text"  name="namee" placeholder="Number of students">
        </div>
      </div>
      <div class="row">
        <div class="col-15">
          <label for="eventname">Room Type</label>
        </div>
        <div class="col-75">
          <input type="text"  name="namee" placeholder="Type">
        </div>
      </div>
    
    <br><br>
    <div class="btn">
        Create
    </div>
    </form>
  </div>









<%- include("../../views/templates/footer") -%>